<h3>Reservations</h3>

  <table>
    <thead>
      <tr>
        <th>Last Modifed</th>
        <th>Passenger</th>
        <th>Flight</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <% @reservations.each do |reservation| %>

        <tr>
          <!--   <td><%= reservation.updated_at %></td> -->
            <!-- <td><%= reservation.passenger.name %></td> -->
            <td>
              <!-- <%= link_to reservation.flight.descriptor, "/flights/#{reservation.flight.id}" %> -->
            </td>
            <!-- <td><%= link_to "Toast", "/reservations/#{reservation.id}", method: 'delete' %> -->
        </tr>

      <% end %>
    </tbody>
  </table>
